{
  "certs": [
    {
      "os": "Ubuntu",
      "cafile": "/etc/qualys/cloud-agent/cert/custom-ca.crt"
    },
    {
      "os": "Centos",
      "cafile": "/etc/qualys/cloud-agent/cert/custom-ca.crt"
    },
    {
      "os": "BSD",
      "cafile": "/etc/qualys/cloud-agent/cert/custom-ca.crt"
    },
    {
      "os": "Suse",
      "cafile": "/etc/qualys/cloud-agent/cert/custom-ca.crt"
    },
    {
      "os": "OSX",
      "cafile": "/Applications/QualysCloudAgent.app/Contents/Config/cert/custom-ca.crt"
    },
    {
      "os": "AIX",
      "cafile": "/etc/opt/qualys/cloud-agent/cert/custom-ca.crt"
    },
    {
      "os": "SOLARIS",
      "cafile": "/etc/opt/qualys/cloud-agent/cert/custom-ca.crt"
    },
    {
      "os": "GENTOO",
      "cafile": "/etc/qualys/cloud-agent/cert/custom-ca.crt"
    }
  ]
}

